.weather-app {
    font-family: 'Luckiest Guy', cursive;
    border: 5px solid #7E6DEE;
    background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
    border-radius: 10px;
    margin: 40px auto;
    padding: 20px;
}
.weather-app form {
    margin-bottom: 40px;
}
.weather-app h1 {
    color: #b3b3b3;
    display: block;
    font-size: 60px;
    font-weight: 200px;
    line-height: 29px;
    margin-top: 20px 0 0 0;
}

.weather-app ul {
    margin: 0;
    padding: 0;
}

.weather-app li {
    list-style: none;
    display: block;
    font-size: 20px;
    font-weight: 100;
    line-height: 19.2px;
    text-align: left;
}

.weather-app canvas {
    margin-right: 5px;
    margin-top: 10px;
    display: inline 10px;
  }

.weather-app .temperature {
    font-size: 60px;
    margin-bottom: 15px;
}

.weather-app .degrees {
    font-size: 20px;
    top: -25px;
    right: 15px;
}