.weather-app {
    font-family: 'Luckiest Guy', cursive;
    border: 8px solid #7E6DEE;
    background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
    border-radius: 10px;
    margin: 40px auto;
    padding: 20px;
}
.weather-app h1 {
    color: #333333;
    font-size: 60px;
    font-weight: 100px;
    margin: 20px 0 0 0;
    line-height: 29px;
}

.weather-app form {
    margin-bottom: 40px;
}

.weather-app ul {
    margin-top: 10px;
    padding: 0;
}

.weather-app li {
    list-style: none;
    font-size: 25px;
    font-weight: 100;
    line-height: 19.2px;
    text-align: left;
}

.weather-app canvas {
    margin-right: 5px;
    margin-top: 10px;
    display: inline 10px;
  }

.weather-app .temperature {
    font-size: 80px;
    margin-bottom: 15px;
    
}

.weather-app .degrees {
    font-size: 25px;
    position: relative;
    top: -40px;
    right: -1px;
    

}